- if @user.errors.any?
  - content_for :notifications do
    .notification.notification-danger.animated.fadeInRight
      = icon 'exclamation'
      .notification-message
        = t 'spina.notifications.alert'
        %small= @user.errors.full_messages.join('<br />').html_safe
      = link_to '#', data: { close_notification: true } do
        = icon 'cross'

= form_for @user, html: {autocomplete: "off"} do |f|
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    #header_actions
      %button.button.button-primary{ type: 'submit', style: 'margin-right: 0', data: { disable_with: t('spina.pages.saving') } }
        = icon 'check'
        = t '.save'

      .button{ style: 'margin-right: 0' }= link_to t('spina.cancel'), admin_conferences_accounts_public_users_path

    %nav#secondary.tabs
      %ul
        - @tabs.each_with_index do |tab, i|
          %li{ class: ('active' if i == 0) }
            = link_to t(".#{tab}"), "##{tab}"

  #details.tab-content.active= render 'form_details', f: f
